<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>

<body>
    <header>
        <h1>After Login (redirect page)</h1>
    </header>
    <main>
        <p>Welcome to our About Us page. We are...</p>
    </main>
    <footer>
        <p>Contact us at hkim7963@gmail.com</p>
    </footer>
</body>

</html>